/* Geral */

* {

    box-sizing: border-box;
    margin: 0;
}

body{

    font-family:'Raleway', Arial, Helvetica, sans-serif;
}


a{

    text-decoration: none;

}
 .banner{

        background-image:url("../img/banner-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no repeat;
        height: 90vh;
        text-align: center;
    }

.banner__texto {

    color:white;
    padding-top: 30%;
}

.banner__titulo {

    font-size: 50px;
    margin-bottom: 20px;
}

.banner__subtitulo{

    font-size: 23px;
    margin-bottom: 20px;
}

.btn{

        background-color: white;
        color:purple;/*#7E459B;*/
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;


}

.destaque
{
color: purple;
font-weight: bold;


}

.sobre-mim{
    border: 1px solid red; 
    margin: 0 5%;
    text-align: center;
}

.sobre-mim__descricao, .sobre-mim__habilidades{
    border: 1px solid blue; 
    display:inline-block;
    width: 40%;
}
.sobre-mim__habilidades{
    border: 1px solid green; 
}

.btn-roxo

{
border: 1 px solid purple;

}

.habilidades__titulo{

font-size: 25px;
margin-bottom: 30px;

}

.habilidades__lista{

    padding-left: 20px;
}